/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: #ffffff;
	background-color: #040618;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	overflow-x: hidden;
}

#root{
	overflow: hidden;
}

.btn-1 {
	transition: all 0.4s ease;
	@apply inline-flex h-[32px]  text-primary border border-primary rounded-[4px] p-[8px];
	@apply hover:bg-primary hover:text-[#040618];
}

.btn-2 {
	@apply inline-flex text-[#9AA6CF] items-center  p-[8px] border rounded border-[#9AA6CF] transition-colors hover:text-white hover:bg-[#9AA6CF];
}

.client-seen {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 8px 24px;
	border: 1px solid #ffffff;
	border-radius: 4px;
	font-weight: 600;
	line-height: 15px;
	font-size: 12px;
}

.bg-linear {
	background: linear-gradient(
		180deg,
		transparent,
		rgba(4, 6, 24, 0.9) 40%,
		#040618
	);
}

.btn-3 {
	@apply min-w-[111px] mx-[5.5px] py-[11px] px-[9px] text-center border border-primary rounded-full transition-all font-normal text-[15px] leading-[18.29px];
	@apply hover:bg-primary hover:text-primary hover:bg-opacity-[0.2];
}

.first-slider-container,
.second-slider-container {
	@apply w-full overflow-hidden;
}
.second-slider-container {
	@apply absolute top-0;
}

#nav-icon {
	width: 30px;
	height: 10px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

#nav-icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #ffffff;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
	top: 0px;
}

#nav-icon span:nth-child(2) {
	top: 10px;
}

#nav-icon span:nth-child(3) {
	top: 20px;
}

#nav-icon.open-icon span:nth-child(1) {
	top: 10px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

#nav-icon.open-icon span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

#nav-icon.open-icon span:nth-child(3) {
	top: 10px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.cloud-img {
	@apply absolute w-[100%] flex max-w-[100%] ml-[-15%];
}

.bottom-cloud {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0px;
	z-index: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.bottom-cloud-image {
  position: relative;
  width: 130%;
  max-width: 130%;
  margin-left: -15%;
}

.bottom-cloud-image.bci_1{
  position: absolute;
left: 0%;
top: auto;
right: 0%;
bottom: 0%;
z-index: 5;
}

.bottom-cloud-image.bci_2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 4;
}

.bottom-cloud-image.bci_3 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 3;
}

.bottom-cloud-image.bci_4 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 2;
}

.bottom-cloud-image.bci_5 {
  z-index: 1;
}